<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/Framework/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.css">
    <title>{% block title "Mon site" %}</title>
</head>
<body>
<nav class="navbar  navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin') }}">Administration</a>
    <ul class="navbar-nav mr-auto">
        {{ admin_menu() }}
    </ul>
    <div class="navbar-nav">
        {% if current_user() != null %}
            <div class="navbar-text mr-4">Connecter en tant que {{ current_user().username }}</div>
            <form class="nav-item active" action="{{ path('auth.logout') }}" method="post">
                {{ csrf_input() }}
                <button class="nav-link bg-dark">Se deconnecter</button>
            </form>
        {% else %}
            <div class="nav-item active">
                <a class="nav-link" href="{{ path('auth.login') }}">Se connecter</a>
            </div>
        {% endif %}
    </div>
</nav>
<div class="container-md">
    {% include '@admin/messageFlash.twig' %}
    {% block body %}
    {% endblock %}
</div>
</body>
</html>