{% extends '@blog/template/layout.twig' %}
{% block title post.name %}
{% block body %}
    <h1>{{ post.name }}</h1>
    <p class="text-muted">
        {% if post.category_id %}
            <a href="{{ path('blog.category',{ slug: post.category_slug }) }}">{{ post.category_name }}</a> <br>
        {% endif %}
        {{ post.created_at | ago  }}
    </p>
    {{ post.content | nl2br }}
{% endblock %}
