{% extends '@blog/template/layout.twig' %}
{% block title post.name %}
{% block body %}
    <h1>{{ post.name }}</h1>
    {% if post.image != null %}
        <div class="text-center"><img src="/uploads/posts/{{ post.image }}" style="height: 300px;"></div>
    {% endif %}
    <p class="text-muted">
        {% if post.categoryId %}
            <a href="{{ path('blog.category',{ slug: post.categorySlug }) }}">{{ post.categoryName }}</a> <br>
        {% endif %}
        {{ Ago(post.createdAt) }}
    </p>
    {{ post.content | echo }}
{% endblock %}
