{% if flash('Abscence_compte') %}
    <div class="alert text-center font-weight-bold mt-3 alert-danger">
        {{ flash('Abscence_compte') }}
    </div>
{% endif %}
{% if flash('message') %}
    <div class="alert text-center font-weight-bold mt-3 alert-danger">
        {{ flash('message') }}
    </div>
{% endif %}
{% if flash('incorrect') %}
    <div class="alert text-center font-weight-bold mt-3 alert-danger">
        {{ flash('incorrect') }}
    </div>
{% endif %}
{% if flash('succes') %}
    <div class="alert text-center font-weight-bold mt-3 alert-success">
        {{ flash('succes') }}
    </div>
{% endif %}
{% if flash('Inscription_ok') %}
    <div class="alert text-center font-weight-bold mt-3 alert-success">
        {{ flash('Inscription_ok') }}
    </div>
{% endif %}
