{% extends '@blog/template/layout.twig' %}
{% block title "Me Contacter" %}
{% block body %}
    {% if flash('message') %}
        <div class="alert text-center font-weight-bold mt-3 alert-success">
            {{ flash('message') }}
        </div>
    {% endif %}
    <h1 class="mt-5">Me Contacter</h1>
    <form method="post" action="{{ path("contact.index") }}">
        {{ csrf_input() }}
        <div>
            {{ flied('name',item.name,"Votre nom") }}
        </div>
        <div>
            {{ flied('email',item.email,"Votre email") }}
        </div>
        <div>
            {{ flied('message',item.message,"Votre message",{type: 'textarea'}) }}
        </div>
        <button type="submit" class="btn btn-primary">Me contacter</button>
    </form>
{% endblock %}
